.main {
    max-width: 1110px;
    width: 100%;

    .main__top {
        .main__topPath {
            display: flex;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.009em;
            color: #b3b3b3;

            :last-child {
                color: black;
            }
        }

        .main__topLine {
            display: flex;
            justify-content: space-between;

            .main__topLineLeft {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: 1px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border: none;
                    background: white;
                    margin: 0px 30px 0px 10px;

                    img {
                        width: 11.67px;
                        height: 8.17px;
                    }
                }


            }

            .main__topLineRight {
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.009em;

                :nth-child(2) {
                    border: none;
                    background: transparent;
                }

                :nth-child(3) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background: #C93E33;
                    border: none;
                    margin-left: 37px;

                    img {
                        width: 10px;
                        height: 10px;
                    }
                }

                :nth-child(4) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    background: white;
                    border: none;
                }
            }
        }
    }

    .main__middle {
        background: white;
        max-width: 1110px;
        border: 1px solid #e6e6e6;

        .main__middleHeader {
            display: flex;
            min-height: 69px;
            border-bottom: 1px solid #e6e6e6;

            .main__middleCategoties {
                display: flex;
                width: 269px;
                align-items: center;
                gap: 11px;
                border-right: 1px solid #e6e6e6;


                :nth-child(1) {
                    width: 14.17px;
                    height: 14.17px;
                    padding-left: 20px;
                }

                :nth-child(2) {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.009em;
                }

                .main__middleImg {
                    display: flex;
                    width: 100%;
                    padding-right: 23px;
                    justify-content: end;

                    img {
                        width: 7px;
                        height: 3.5px;
                    }
                }
            }
        }

        .main__container {
            display: flex;

            .sidebar {
                width: 269px;
                border-right: 1px solid #e6e6e6;

                .sidebar__posts {
                    text-align: left;
                    padding: 20px 20px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.009em;
                    border-bottom: 1px solid #e6e6e6;

                    .sidebar__post {
                        margin-bottom: 10px;

                        :nth-child(2) {
                            color: black;
                        }

                        p {
                            color: #b3b3b3;
                            margin-top: 0.2em;
                            margin-bottom: 0.2em;
                        }

                        span {
                            background: #C93E33;
                            color: white;
                            border-radius: 7px;
                            padding: 0px 5px;
                        }

                    }

                    .sidebar__postsBottom {
                        display: flex;
                        color: #C93E33;
                        margin-top: 10px;
                        align-items: center;

                        img {
                            width: 5px;
                            height: 2.5px;
                            margin-left: 7.5px;
                        }
                    }
                }
            }
        }
    }

    .main__bottom {
        height: 60px;
    }

    .main__underline {
        text-align: left;
        margin-bottom: 107px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.009em;

        :nth-child(1) {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.009em;
        }

        :nth-last-child(1) {
            color: #C93E33;
        }
    }
}